<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
    </head>
    <body>
        <h1>Home page></h1>
        <div>
            <h4>Bio:</h4>
            <ol>
                <li>
                    <span>Login: {{user[1]}}</span>
                </li>
                <li>
                    <span>E-mail: {{user[3]}}</span>
                </li>
                <li>
                    <a href="/files">Files</a>
                </li>
                <li>
                    <a href="/upload">Upload file</a>
                </li>
            </ol>
            <a href="/logout">Log out</a>
        </div>
    </body>
</html>