<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Authorization</title>
    </head>
    <body>
        <h2>Log in</h2>

        {% for message in get_flashed_messages() %}
            <div> {{ message }} </div>
        {% endfor%}

        <form action="/login" method="POST">
            <p>
                <label>Login:</label>
                <br>
                <input type="text" name="login" />
            </p>
            <p>
                <label>Password:</label>
                <br>
                <input type="password" name="password" />
            </p>
            <p>
                <input type="submit" value="Authorizate"/>
            </p>
        </form>
    </body>
</html>